<!DOCTYPE html>
<html>
  <head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" maximum-scale=1.0, user-scalable="no">

    <title></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/blog.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

  </head>
  <body>
    <!-- Loader ---->
    <div class="animate"></div>
     <div class="overlay">
         <div class="container">
             <h2 class="first" style="color: #fff;">I'm</h2>
             <span id="text1" class="textt">Harsh Userethe</span>
             <span id="text2" class="textt">A Front-end Dev</span>
             <span id="text3" class="textt">A Back-end Dev</span>
           </div>
      </div>

      <i class="ri-menu-fill gxg" id="menuTag"></i>
      <h4 id="m-logo" class="gxg">DEVFOLIO</h4>
      <div class="nav-bar">
        <i class="ri-close-fill gxg" id="closeTag"></i>

        <div class="box-1 box">
          <a href="" onclick="return false;" style="color: #fff; text-decoration: none"
            ><div class="li nl" id="aboutMe">About Me</div></a
          >
          <a href="" onclick="return false;" style="color: #fff; text-decoration: none"
            ><div class="li nl" id="portfolio">Portfolio</div></a
          >
          <a href="" onclick="return false;" id="contactMe" style="z-index: 99; color: #fff; text-decoration: none"
            ><div class="li nl">Contact</div></a
          >
        </div>

        <div class="box-2 box">
          <h4 style="color: #fff;">DEVFOLIO</h4>
        </div>

        <div class="box-3 box">
          <a href="/images/Userethe_Harsh_Resume.pdf" target="_blank" id="cv" style="color: #fff; text-decoration: none">
            <li style="list-style: none" class="nl">
              <i class="fa-solid fa-download"  id="cvicon"></i> CV
            </li></a
          >
          <div class="social">
           <a href="/blog-post-1" id="bloggg" class="nl">Blog</a>
            <!-- <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-square-behance"></i></a> -->
            <li id="theme" class="nl">Theme</li>
          </div>
        </div>
      </div>
